html,
body {
    padding: 0;
    margin: 0;
    font-family: "Lucida Console", "Courier New", monospace;
}

.outter-box {
    width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
}

.img-profile {
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    padding-left: 50px;
}

.header {
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #FFF47D;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.content {
    background-color: #E8F6EF;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.container {
    display: flex;
}

.item-1 {
    flex-grow: 1;
}

.item-2 {
    flex-grow: 2;
}

.column {
    flex: 50%;
    padding: 10px;
}

.btn-download {
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}

.btn-hire {
    padding: 5px;
    border-radius: 10px;
    background-color: greenyellow;
}